{% extends 'layout.twig' %}

{% block content %}
<h1>Siro</h1>

{% if gravatar_exist('nahuelcuestaluengo@gmail.com') %}
    <img src="{{ gravatar('nahuelcuestaluengo@gmail.com') }}">
{% endif %}

<a href="{{ path('homepage') }}">Home</a>
{% endblock %}